h1{
    text-align:center;
    font-size:1.5rem;
}
html{
  background-color:chocolate
}
.container{
    width:50%;
    height:170vh;
    background-color: red;
    margin:auto;
    /*position: relative; */
    padding:15px;
    border-radius: 30px;
    
    
}

 .questions{
    background-color: orange;
  border-radius: 30px;
  border: 10px solid black;
  padding: 5px;
  margin-bottom: 10px;
    
  
}

.btn{
   
    color: white;
 
    background-color: #4CAF50;
    border: none;
     text-align: center;
     text-decoration: none;
     cursor: pointer;
     padding:15px;
     font-size:1.5rem; 
}

  .lbl{
    position: absolute;
 
      background-color: orange;
      color:black;
      padding:10px;
      font-size:1.5rem;
      
        
  }

  p{
      font-size:1.25rem;
      text-indent:25px;
      padding:0px;
  }

  #result{
     
    font-size:1.25rem;
    text-align: right;
    margin-top:-50px;
   
 
   
   
}